.searchParams {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 20px;
}

.searchName {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.whoseArePacks,
.numbersOfCards {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media screen and (max-width: 900px) {
  .searchParams {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
