.modal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.packName {
    font-weight: bold;
}

.clarification {
    display: flex;
    flex-direction: column;
}

.packCover {
    margin: 10px;
    display: flex;
    justify-content: center;
}