.profile {
  width: 80%;
  margin: auto;
}

.avatar {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

input {
  font-size: 14px;
  margin-right: 10px;
}

.email {
  opacity: 0.6;
  font-size: 14px;
}
