.wrapper {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 400px;
    width: 300px;
    border: 1px solid black;
}

.avatar {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.error {
    color: red;
}

.email {
    opacity: 0.6;
    font-size: 14px;
}
