.layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    height: 50px;
    background-color: lavender;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer {
    height: 50px;
    background-color: lavender;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link {
    color: black;
    font-size: 24px;
    cursor: pointer;
    text-decoration: none;
    margin: 0 110px;
}

.userInfo {
    display: flex;
    align-items: center;
    margin: 0 110px;
}

.avatar {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    margin-right: 5px;
}

.btnSignIn {
    margin: 0 110px;
}