.wrapper {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 300px;
    width: 300px;
    border: 1px solid black;
}

.clarification {
    opacity: 0.6;
    font-size: 14px;
}