.input {
    display: flex;
    flex-direction: column;
}

.clarification {
    display: flex;
    flex-direction: column;
}

.selector {
    display: flex;
    flex-direction: column;
}

.imageWrapper {
    margin: 10px;
    display: flex;
    justify-content: center;
}