.wrapper {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 400px;
    width: 300px;
    border: 1px solid black;
}

.form {
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.clarification {
    opacity: 0.6;
    font-size: 14px;
}

.password, .confirmPassword {
    display: flex;
}

.passwordVisibility, .confirmPasswordVisibility {
    cursor: pointer;
    margin-left: 5px;
}

.error {
    color: red;
}

.btn {
    align-self: center;
}