.cardsList {
    width: 80%;
    margin: auto;
}

.backToPacks {
    display: flex;
    justify-content: flex-start;
}

.header {
    display: flex;
    justify-content: space-between;
}

.searchQuestion {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.pagination {
    margin: 0 2px;
    cursor: default;
}

.selectedPage {
    font-weight: bold;
}